body{
    padding: 10px 2px 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #ffffff;
}
.carousel-container{
    width: 100%;
    height: 500px;
    max-width: 1000px;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}
.carousel-content{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}
.item{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.item img{
    width: 100%;
    height: 100%;
}
.prev,.next{
    width: 50px;
    background-color: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 1s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.next{
    left: auto;
    right: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.prev:hover,.next:hover{
    background: #000000a8;
    cursor: pointer;
}
.arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.arrow-left{
    transform: rotateZ(-135deg);
}
.arrow-right{
    transform: rotateZ(45deg);
}
#markers{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.marker{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    background: #bbb;
    cursor: pointer;
    transition: background-color 0.5s;
}
.marker:hover,.marker.active{
    background-color : #717171;
}
.marker:first-child{
    margin-left: 0;
}
.moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveLeftCurrent{
    from{
        margin-left: 0;
        opacity: 1;
    }to{
        margin-left: -100%;
        opacity: 1;
    }
}
.moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveLeftNext{
    from{
        margin-left: 100%;
        opacity: 1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}
.moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveRightCurrent{
    from{
        margin-left: 0;
        opacity: 1;
    }to{
        margin-left: 100%;
        opacity: 1;
    }
}
.moveRightNextSlide{
    animation-name: moveRightNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveRightNext{
    from{
        margin-left: -100%;
        opacity: 1;
    }to{
        margin-left: 0;
        opacity: 1;
    }
}